main .rework {
  color: red;
  font-size: 6em;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
}

[class*=icon-sound]:before,[class^=icon-sound]:before {
  content: "\e91a";
}

[class*=icon-camera]:before,[class^=icon-camera]:before {
  content: "\e90f";
}

[class*=icon-upload]:before,[class^=icon-upload]:before {
  content: "\e9c6";
}

[class*=icon-cloud]:before,[class^=icon-cloud]:before {
  content: "\eac4";
}

.possibilities__img {
	background: url(../img/picture_3.jpg) 0 0/cover no-repeat;
	width: 50%;
}