/* ©Доработка сайта для выставки в Киеве 2-4.10.2018 */

[class*=icon-sound]:before,
[class^=icon-sound]:before {
  content: "\e91a";
}

[class*=icon-camera]:before,
[class^=icon-camera]:before {
  content: "\e90f";
}

[class*=icon-upload]:before,
[class^=icon-upload]:before {
  content: "\e9c6";
}

[class*=icon-cloud]:before,
[class^=icon-cloud]:before {
  content: "\eac4";
}

.our-services__feature-row:last-child {
  justify-content: space-between;
  margin-bottom: 0;
}

.possibilities__img {
  background: url(../img/picture_3.jpg) 0 0/cover no-repeat;
  width: 50%;
}

.footer {
  background: #e5f6fd;
}

.copyright {
  background: #00ccc0;
}